<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section >
      <div class="about-section" data-aos="zoom-in" data-aos-duration="1500">
        <h1>All Menu</h1>
        <p class="intro" data-aos="fade-up" data-aos-duration="1500">
          Welcome to JODO Winery and Distillery, where we offer a diverse collection of exceptional wines, fine whiskies, and premium spirits, creating an unforgettable tasting experience for every guest.
        </p>
      </div>

      <!-- <div class="menu-search">
        <i class="fas fa-search" id="search-menu"></i>
        <input
          type="text"
          id="searchInput"
          placeholder="Search menu items..."
        />
      </div> -->
      <div class="filter-flex" data-aos="fade-right" data-aos-duration="1500">
        <div class="filter-icon">
          <i class="fa-solid fa-sliders"></i>
        </div>
        <div class="filter">
          <h2 id="List-all" class="active-filter">All</h2>
          
          
          <h2 data-category="whisky">Whisky</h2>
          <h2 data-category="fruit Liqueur">Fruit Liqueur</h2>
          <h2 data-category="Bourbon">Bourbon</h2>
          <h2 data-category="wine">Wine</h2>
          <h2 data-category="beer">Beer</h2>
          
          
        </div>
        
          
        
      </div>
      <div id="menuGrid" data-aos="fade-up" data-aos-duration="1500"></div>
    </section>
    <script>
      AOS.init();
    </script>
  </body>
</html>
